<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zcy.agriculture.mapper.TbCropCategoryMapper">
    
    <resultMap type="TbCropCategory" id="TbCropCategoryResult">
        <result property="cropCategoryId"    column="crop_category_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="categoryStatus"    column="category_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="farmId"    column="farm_id"    />
        <result property="samplePicture"    column="sample_picture"    />
    </resultMap>
	
	<sql id="selectTbCropCategoryVo">
        select crop_category_id, category_name, category_status, create_time, create_by, update_time, update_by, farm_id, sample_picture from tb_crop_category
    </sql>
	
    <select id="selectTbCropCategoryList" parameterType="TbCropCategory" resultMap="TbCropCategoryResult">
        <include refid="selectTbCropCategoryVo"/>
        <where>  
            <if test="cropCategoryId != null "> and crop_category_id = #{cropCategoryId}</if>
             <if test="categoryName != null  and categoryName != '' "> and category_name = #{categoryName}</if>
             <if test="categoryStatus != null "> and category_status = #{categoryStatus}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="createBy != null "> and create_by = #{createBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="updateBy != null "> and update_by = #{updateBy}</if>
             <if test="farmId != null  and farmId != '' "> and (farm_id = #{farmId} or farm_id is null)</if>
             <if test="samplePicture != null  and samplePicture != '' "> and sample_picture = #{samplePicture}</if>
         </where>
    </select>
    
    <select id="selectTbCropCategoryById" parameterType="Long" resultMap="TbCropCategoryResult">
        <include refid="selectTbCropCategoryVo"/>
        where crop_category_id = #{cropCategoryId}
    </select>
        
    <insert id="insertTbCropCategory" parameterType="TbCropCategory" useGeneratedKeys="true" keyProperty="cropCategoryId">
        insert into tb_crop_category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="categoryName != null  and categoryName != ''  ">category_name,</if>
			<if test="categoryStatus != null  ">category_status,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="createBy != null  ">create_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="updateBy != null  ">update_by,</if>
			<if test="farmId != null  and farmId != ''  ">farm_id,</if>
			<if test="samplePicture != null  and samplePicture != ''  ">sample_picture,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="categoryName != null  and categoryName != ''  ">#{categoryName},</if>
			<if test="categoryStatus != null  ">#{categoryStatus},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="createBy != null  ">#{createBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="updateBy != null  ">#{updateBy},</if>
			<if test="farmId != null  and farmId != ''  ">#{farmId},</if>
			<if test="samplePicture != null  and samplePicture != ''  ">#{samplePicture},</if>
         </trim>
    </insert>
	 
    <update id="updateTbCropCategory" parameterType="TbCropCategory">
        update tb_crop_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null  and categoryName != ''  ">category_name = #{categoryName},</if>
            <if test="categoryStatus != null  ">category_status = #{categoryStatus},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="createBy != null  ">create_by = #{createBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="updateBy != null  ">update_by = #{updateBy},</if>
            <if test="farmId != null  and farmId != ''  ">farm_id = #{farmId},</if>
            <if test="samplePicture != null  and samplePicture != ''  ">sample_picture = #{samplePicture},</if>
        </trim>
        where crop_category_id = #{cropCategoryId}
    </update>

	<delete id="deleteTbCropCategoryById" parameterType="Long">
        delete from tb_crop_category where crop_category_id = #{cropCategoryId}
    </delete>
	
    <delete id="deleteTbCropCategoryByIds" parameterType="String">
        delete from tb_crop_category where crop_category_id in 
        <foreach item="cropCategoryId" collection="array" open="(" separator="," close=")">
            #{cropCategoryId}
        </foreach>
    </delete>
    <!--     根据农场判断是否重复 -->
    <select id="selectByCategoryNameRepeat" resultType="Integer">
        SELECT
			count(0) AS cou
		FROM
			tb_crop_category t
		WHERE
			(t.farm_id IS NULL OR t.farm_id=#{farmId})
		AND t.category_name =#{categoryName}
		<if test="cropCategoryId != null  "> AND t.crop_category_id != #{cropCategoryId} </if>
		
    </select>
</mapper>