<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zcy.agriculture.mapper.TbFarmUserMapper">
    
    <resultMap type="TbFarmUser" id="TbFarmUserResult">
        <result property="farmId"    column="farm_id"    />
        <result property="userId"    column="user_id"    />
        <result property="roleId"    column="role_id"    />
    </resultMap>
	
	<sql id="selectTbFarmUserVo">
        select role_id, farm_id, user_id from tb_farm_user
    </sql>
	
    <select id="selectTbFarmUserList" parameterType="TbFarmUser" resultMap="TbFarmUserResult">
        <include refid="selectTbFarmUserVo"/>
        <where>  
             <if test="farmId != null and farmId != ''"> and farm_id = #{farmId}</if>
             <if test="roleId != null "> and role_id = #{roleId}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
         </where>
    </select>
    
    <select id="selectTbFarmUserById" parameterType="Long" resultMap="TbFarmUserResult">
        <include refid="selectTbFarmUserVo"/>
        where farm_id = #{farmId}
    </select>
        
    <insert id="insertTbFarmUser" parameterType="TbFarmUser" useGeneratedKeys="true" keyProperty="farmUserId">
        insert into tb_farm_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="farmId != null  and farmId != ''">farm_id,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="roleId != null  ">role_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="farmId != null  and farmId != ''">#{farmId},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="roleId != null  ">#{roleId},</if>
         </trim>
    </insert>
	 
    <update id="updateTbFarmUser" parameterType="TbFarmUser">
        update tb_farm_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="farmId != null and farmId != '' ">farm_id = #{farmId},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="roleId != null  ">role_id = #{roleId},</if>
        </trim>
        where farm_id = #{farmId} and user_id = #{userId}
    </update>

	<delete id="deleteTbFarmUserByUserId" parameterType="map">
        delete from tb_farm_user where  user_id = #{userId} and farm_id = #{farmId}
    </delete>


</mapper>