<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zcy.agriculture.mapper.TbResDeviceAttributesMapper">
    
    <resultMap type="TbResDeviceAttributes" id="TbResDeviceAttributesResult">
        <result property="id"    column="id"    />
        <result property="devId"    column="dev_id"    />
        <result property="attributesName"    column="attributes_name"    />
        <result property="thingsboardKey"    column="thingsboard_key"    />
        <result property="typesIndex"    column="types_index"    />
        <result property="unit"    column="unit"    />
        
    </resultMap>
	
	<sql id="selectTbResDeviceAttributesVo">
        select id, dev_id, attributes_name, thingsboard_key, types_index,unit from tb_res_device_attributes
    </sql>
	
    <select id="selectTbResDeviceAttributesList" parameterType="TbResDeviceAttributesVo" resultMap="TbResDeviceAttributesResult">
        <include refid="selectTbResDeviceAttributesVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="devId != null "> and dev_id = #{devId}</if>
             <if test="attributesName != null  and attributesName != '' "> and attributes_name = #{attributesName}</if>
             <if test="thingsboardKey != null  and thingsboardKey != '' "> and thingsboard_key = #{thingsboardKey}</if>
             <if test="typesIndex != null "> and types_index = #{typesIndex}</if>
             <if test="isTypesIndex != null "> and types_index IS NOT NULL</if>
             <if test="unit != null  and unit != '' "> and unit = #{unit}</if>
         </where>
    </select>
    
    <select id="selectTbResDeviceAttributesById" parameterType="Long" resultMap="TbResDeviceAttributesResult">
        <include refid="selectTbResDeviceAttributesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbResDeviceAttributes" parameterType="TbResDeviceAttributes" useGeneratedKeys="true" keyProperty="id">
        insert into tb_res_device_attributes
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="devId != null  ">dev_id,</if>
			<if test="attributesName != null  and attributesName != ''  ">attributes_name,</if>
			<if test="thingsboardKey != null  and thingsboardKey != ''  ">thingsboard_key,</if>
			<if test="typesIndex != null  ">types_index,</if>
			<if test="unit != null  and unit != ''  ">unit,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="devId != null  ">#{devId},</if>
			<if test="attributesName != null  and attributesName != ''  ">#{attributesName},</if>
			<if test="thingsboardKey != null  and thingsboardKey != ''  ">#{thingsboardKey},</if>
			<if test="typesIndex != null  ">#{typesIndex},</if>
			<if test="unit != null  and unit != ''  ">#{unit},</if>
         </trim>
    </insert>
	 
    <update id="updateTbResDeviceAttributes" parameterType="TbResDeviceAttributes">
        update tb_res_device_attributes
        <trim prefix="SET" suffixOverrides=",">
            <if test="devId != null  ">dev_id = #{devId},</if>
            <if test="attributesName != null  and attributesName != ''  ">attributes_name = #{attributesName},</if>
            <if test="thingsboardKey != null  and thingsboardKey != ''  ">thingsboard_key = #{thingsboardKey},</if>
            <if test="typesIndex != null  ">types_index = #{typesIndex},</if>
            <if test="unit != null  and unit != ''  ">unit = #{unit},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTbResDeviceAttributesById" parameterType="Long">
        delete from tb_res_device_attributes where id = #{id}
    </delete>
	
    <delete id="deleteTbResDeviceAttributesByIds" parameterType="String">
        delete from tb_res_device_attributes where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTbResDeviceAttributesByDevId" parameterType="Long">
        delete from tb_res_device_attributes where dev_id = #{devId}
    </delete>
<!--     根据地块查询设备和传感器 -->
	<select id="selectByDevNumAndAttributes" parameterType="Long" resultType="HashMap">
        SELECT
			t.thingsboard_key AS attributes,
			t1.dev_num AS devNum,
			t.attributes_name AS attributesName
		FROM
			tb_res_device_attributes t
		INNER JOIN tb_res_device t1 ON t.dev_id = t1.dev_id AND t1.dev_type=0 AND t1.plot_id=#{plotId}
    </select>
</mapper>